In [1]:
import talib as ta
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("train&Valid_X_merged_for_feature_generating.csv",header = 0)
df["Dates"] = pd.to_datetime(df["Dates"])
df

,Unnamed: 0,Dates,NAPMPMIIndex,NAPMNEWOIndex,NAPMPRODIndex,NAPMSUPLIndex,NAPMEMPLIndex,NAPMINVIndex,NAPMBACKIndex,NAPMEXPTIndex,...,CADCurncy,CNYCurncy,TRYCurncy,BRLCurncy,COComdty,GCComdty,SIComdty,HGComdty,LBComdty,BDIYindex
0,0,1999-04-01,54.3,55.9,55.7,52.3,47.6,43.7,52.0,50.1,...,1.4993,8.2796,0.3730,1.7250,-0.034121,0.000355,0.011670,0.001594,-0.010963,891
1,1,1999-04-02,54.3,55.9,55.7,52.3,47.6,43.7,52.0,50.1,...,1.4960,8.2794,0.3754,1.7250,0.000000,0.000000,0.000000,0.000000,0.000000,891
2,2,1999-04-05,54.3,55.9,55.7,52.3,47.6,43.7,52.0,50.1,...,1.5010,8.2795,0.3761,1.7375,0.000000,-0.006028,-0.021877,0.002387,-0.017376,891
3,3,1999-04-06,54.3,55.9,55.7,52.3,47.6,43.7,52.0,50.1,...,1.5025,8.2797,0.3760,1.7325,0.014266,0.005351,0.006100,-0.003968,-0.013720,883
4,4,1999-04-07,54.3,55.9,55.7,52.3,47.6,43.7,52.0,50.1,...,1.4977,8.2797,0.3761,1.7325,-0.038848,0.001774,0.002425,0.030279,0.004328,873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6127,6127,2022-09-26,52.8,51.3,50.4,55.1,54.2,53.1,53.0,49.4,...,1.3735,7.1372,18.4539,5.3905,-0.025520,-0.013409,-0.022739,-0.014508,-0.055632,1813
6128,6128,2022-09-27,52.8,51.3,50.4,55.1,54.2,53.1,53.0,49.4,...,1.3724,7.1761,18.4439,5.3805,0.024258,0.001714,-0.007738,-0.003339,0.045034,1807
6129,6129,2022-09-28,52.8,51.3,50.4,55.1,54.2,53.1,53.0,49.4,...,1.3608,7.2005,18.5100,5.3746,0.037469,0.020658,0.029612,0.022841,0.008153,1799
6130,6130,2022-09-29,52.8,51.3,50.4,55.1,54.2,53.1,53.0,49.4,...,1.3680,7.1249,18.5030,5.4001,-0.009881,-0.000838,-0.008898,0.017716,-0.050601,1757
6131,6131,2022-09-30,52.8,51.3,50.4,55.1,54.2,53.1,53.0,49.4,...,1.3829,7.1160,18.5287,5.4155,-0.023400,0.002038,0.017475,-0.001609,0.028231,1760

In [8]:
period = 10
sma_value = ta.SMA(np.array(df['TargetPortDailyRtn']), period)
ema_value = ta.EMA(np.array(df['TargetPortDailyRtn']), period)
fast_period = 8
slow_period = 18
signal_period = 6
macd, macd_signal, macd_hist = ta.MACD(np.array(df['TargetPortDailyRtn']), fast_period,
                                          slow_period, signal_period)
rsi_values = ta.RSI(np.array(df['TargetPortDailyRtn']), period)
sigma = 2
moving_average_type = 0
bb_up, bb_middle, bb_down = ta.BBANDS(np.array(df['TargetPortDailyRtn']),
                                         period, sigma, sigma, moving_average_type)
df["sma_value"] = sma_value
df["ema_value"] = ema_value
df["macd"] = macd
df["macd_signal"] = macd_signal
df["macd_hist"] = macd_hist
df["rsi_values"] = rsi_values
df["bb_up"] = bb_up
df["bb_middle"] = bb_middle
df["bb_down"] = bb_down

df = df[["Dates","sma_value","ema_value","macd","macd_signal","macd_hist","rsi_values","bb_up","bb_middle","bb_down"]]
df

,Dates,sma_value,ema_value,macd,macd_signal,macd_hist,rsi_values,bb_up,bb_middle,bb_down
0,1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1999-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1999-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6127,2022-09-26,-0.006897,-0.006314,-0.002163,-0.001428,-0.000735,44.882074,0.005651,-0.006897,-0.019444
6128,2022-09-27,-0.005166,-0.005803,-0.001535,-0.001459,-0.000076,50.815333,0.003353,-0.005166,-0.013685
6129,2022-09-28,-0.003487,-0.001401,0.001502,-0.000613,0.002115,63.627273,0.012797,-0.003487,-0.019772
6130,2022-09-29,-0.003825,-0.003054,0.000199,-0.000381,0.000580,46.050170,0.012881,-0.003825,-0.020532
6131,2022-09-30,-0.004444,-0.003928,-0.000404,-0.000387,-0.000016,47.518664,0.012356,-0.004444,-0.021243

In [9]:
new_columns = ['Dates_0']
for column in df.columns:
    if column != "Dates":
        new_columns.append(column+"_0")
df.columns = new_columns

In [10]:
df.to_csv('train&valid_technical_features.csv')

In [11]:
df

,Dates_0,sma_value_0,ema_value_0,macd_0,macd_signal_0,macd_hist_0,rsi_values_0,bb_up_0,bb_middle_0,bb_down_0
0,1999-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1999-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1999-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6127,2022-09-26,-0.006897,-0.006314,-0.002163,-0.001428,-0.000735,44.882074,0.005651,-0.006897,-0.019444
6128,2022-09-27,-0.005166,-0.005803,-0.001535,-0.001459,-0.000076,50.815333,0.003353,-0.005166,-0.013685
6129,2022-09-28,-0.003487,-0.001401,0.001502,-0.000613,0.002115,63.627273,0.012797,-0.003487,-0.019772
6130,2022-09-29,-0.003825,-0.003054,0.000199,-0.000381,0.000580,46.050170,0.012881,-0.003825,-0.020532
6131,2022-09-30,-0.004444,-0.003928,-0.000404,-0.000387,-0.000016,47.518664,0.012356,-0.004444,-0.021243